[Unit]
Description=IBM CLoud Discovery Service
After=network.target

[Service]
Type=simple
User=root
ExecStart=/usr/bin/cloud-discovery-service
Restart=on-abort

[Install]
WantedBy=multi-user.target
